/* tasks styles */
.task-title {
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
}

.active {
  color: red;
}

.number-container {
  display: flex;
  flex-wrap: wrap;
}

.number {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
}

.even {
  background-color: #8bc34a;
}

.odd {
  background-color: #ffeb3b;
}
